<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
	<connectionStrings>
		<add name="conn" connectionString="Server=8bf916e3-e22b-423c-bdf9-a708005bcdb5.sqlserver.sequelizer.com;Database=db8bf916e3e22b423cbdf9a708005bcdb5;User ID=evsohchsubeqmnqj;Password=RETd8AH5Vf5MYQzNVXAgvLxTo72zJXERdEyrou2SqWUjjM3gJCZNeGaegaWbGht7;"/>
	</connectionStrings>
</configuration>
